language: php
php:
  - "5.6"
  - "7.1"
  - "7.2"
install:
  - composer install --prefer-dist
script:
  - if [ ${TRAVIS_PHP_VERSION:0:3} == "5.6" ] ; then cmd/s2c --php5 --class=Customer generate:fromschema tests/example.yaml src/Example ; fi
  - if [ ${TRAVIS_PHP_VERSION:0:1} == "7" ] ; then cmd/s2c --class=Customer generate:fromschema tests/example.yaml src/Example ; fi
  - vendor/bin/phpunit --testdox