name: PHP type checking and unit testing

on:
  push:
    branches: [ master ]
  pull_request: {}

jobs:
  build:
    strategy:
      matrix:
        php-versions: ['8.5']
        symfony-versions: ['~6.4', '~7.4']
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: mbstring, intl, json
        coverage: pcov

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Declare required Symfony version
      run: |
        composer require --no-update symfony/console ${{ matrix.symfony-versions }}
        composer require --no-update symfony/yaml ${{ matrix.symfony-versions }}

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Run unit tests
      run: ./vendor/bin/phpunit --testdox

    # Unit tests need to run before the type checker, because they generate code
    # that the type checker needs to see.
    - name: Run type checker (psalm)
      run: ./vendor/bin/psalm --php-version=8.5

    - name: Run type checker (PHPStan)
      run: ./vendor/bin/phpstan analyze --memory-limit=1G
